.user-form {
    display: flex;
    align-items: center;
    width: 360px;
    padding: 30px;
    margin: 40px auto;
    background: #f1f1f1;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid #c2c2c2;
}

.user-form h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 33px;
    font-weight: bold;
    margin: 25px;
    color: #3e4f3f;
}

.user-form__a {
    text-decoration: none;
    color: #3e4f3f;
    background: #f1f1f1;
    border-radius: 10px;
    border: 1px solid #c2c2c2;
    padding: 10px;
    margin: 10px auto;
}

.user-form input {
    display: block;
    width: 100%;
    height: 30px;
    padding: 10px;
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    border-radius: 5px;
    margin: 5px;
}

.user-form select {
    width: 100%;
    height: 30px;
}

a:hover {
    background-color: #bdbdbd;
    transition: .2s;
}
